{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #4095e9; }
    </style>
{% endblock %}
{% block content %}
    <h1>Home</h1>
    <p>
            This is a demo version of 
            <b>Hair color analyzer of a picture</b>

            <p>
                    Using Python 3 and OpenCV
                    <p>

    First of all, this is a demo version, created in 3 days, so please do not expect it working perfectly :)
    <p>

    There are following limitations:
    <p>

    It only works with frontal face pictures (passport-styled photos are the best source). It may be extended in the future.
    <p>

    It only uses a single color for matching. Obviously, some patterns have two or more shades of colors, so the match is not perfect
        in such situations. This limitation is quite easy to remove in the future, using two or more colors.
        <p>

    It is VE-E-E-E-RY slow on pythonanywhere.com! (at least at it's free account) On my local machine it is much much quicker. Seconds... 
        I even had to change the face detection method to from slower-but-more-presize to a faster-but-less-presize when deploying to pythonanywhere.     
        <p>

    Thank you for looking!            

    <p>



    {% endblock %}

